* {
    padding: 0;
    margin: 0;
}

@font-face {
  font-family: "Aventa";
  src: url("fonts/Aventa-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; 
}


.cursor {
  position: fixed;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%);
  pointer-events: none;
  left: -100px;
  top: 50%;
  mix-blend-mode: difference;
  background-color: white;
  z-index: 10000;
  border: 2px solid white;
  height: 15px;
  width: 15px;
  transition: all 300ms ease-out;
}

.main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.left {
    background-color: transparent;
    width: 55%;
}
.right {
    background-color: transparent;
    width: 45%;
}

.home {
    background-color: transparent;
    color: white;
    padding-top: 5%;
    padding-left: 5%;
}

.home_title {
    font-family: "Aventa", sans-serif;
    width: fit-content;
}

.frfr {
    display: flex;
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;  
}

.posright {
    justify-content: right;
}
.posleft {
    justify-content: left;
}
.poscenter {
    justify-content: center;
}

.about {
    font-weight: normal;
    font-size: 0.7em;
    padding-top: 5%;
    text-align: right;
    text-decoration: underline;
}
