* {
  margin: 0;
  padding: 0;
  cursor: crosshair;
}

.menu {
  position: absolute;
  left: 2%;
  background-color: transparent;
}


.title {
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}